.App {
  max-width:60%;
  margin:auto;
}

body{
  background-color:#EEF3E6;
}

span{
  color:red;
}

input[type=text], input[type=email] {
  border: none;
  border-bottom: 1px solid rgb(194, 192, 192);
  width:50%;
}

input:focus{
  outline: none;
  border-bottom: 2px solid grey;
}

.form-box{
  border: 1px solid #d5d8d0;
  border-radius:5px;
  background-color: white;
  height: 10vh;
  padding:20px;
  margin:10px;
}

button{
  margin: 10px;
  background-color: rgb(20, 153, 20);
  border: none;
  border-radius: 3px;
  width: 70px;
  height: 30px;
  font-size: medium;
  color:white;
}

@media (max-width:900px) {
  .App{
    max-width: 90%;
  }
}

@media (max-width:600px) {
  .App{
    max-width: 95%;
  }
  .form-box{
    height: 15vh;
  }
}
